body {
  margin: 0 auto;
  font-size: 17px;
  background-color: #f7f9fc;
}
@font-face {
  font-family: Lato-BoldItalic;
  src: url(fonts/Lato/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato-Italic;
  src: url(fonts/Lato/Lato-Italic.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(fonts/Lato/Lato-Light.ttf);
}
